@media only screen and (max-width: 1210px) {
    .box-right {
       margin-top: 15px;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
    }
 
    .nav-right {
       margin: 12px;
    }
 }