* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   box-sizing: border-box;
   font-family: sans-serif;
}

.header h1 {
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   text-align: center;
   letter-spacing: -2px;
   color: #2d3958;
   margin-bottom: 70px;
}

.container {
   padding-left: 16px;
   padding-right: 16px;
}

.main {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

// css box-left

.box-left {
   display: flex;
   flex-wrap: wrap;
   // margin: 0 15px 0 0;
   justify-content: center;
   margin-left: -15px;
   margin-right: -15px;
}
.wrap-item {
   padding: 15px;
   .nav-left {
      img {
         width: 100%;
      }
   }
}

.nav-left h4 {
   font-style: normal;
   font-weight: 400;
   font-family: 'Outfit';
   font-size: 22px;
   line-height: 32px;
   margin: 20px 0 30px 0;
   letter-spacing: -1px;
   color: #2d3958;
}

.nav-left > p {
   font-style: normal;
   font-weight: 400;
   font-family: 'DM Sans';
   font-size: 18px;
   line-height: 28px;
   margin-bottom: 25px;
   letter-spacing: -0.3px;
   color: #7b88a8;
}

// css box-right

.nav-right {
   margin: 13px 0 18px 0;
}

.nav-right text img {
   background-size: 100%;
}

.nav-right h4 {
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 32px;
   letter-spacing: -1px;
   color: #2d3958;
   margin: 0 20px 35px 0;
}

.nav-right .text {
   display: flex;
   justify-content: space-around;
}

.nav-right .text img {
   // object-fit: cover;
}

// scss icon

.box-time {
   display: inline-flex;
   margin-bottom: 25px;
}
.day {
   margin-right: 30px;
}

.box-time i {
   margin-right: 5px;
   color: #886cff;
}

.box-time p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: -0.3px;
   color: #7b88a8;
   opacity: 0.7;
}

.day,
.time {
   display: flex;
}

.blur {
   background-color: #7b88a8;
   width: 100%;
   height: 1px;
   opacity: 0.5;
}

// css phần content

.content {
   text-align: center;
}

.content h2 {
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   text-align: center;
   letter-spacing: -2px;
   color: #2d3958;
   padding: 50px 0 50px 0;
}

.content p {
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 32px;
   text-align: center;
   letter-spacing: -1px;
   color: #7b88a8;
}

.content .btn {
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 24px;
   margin-top: 50px;
   text-align: center;
   letter-spacing: -0.3px;
   text-transform: uppercase;
   background-color: #886cff;
   width: 153px;
   height: 56px;
   color: #ffffff;
   border-radius: 5px;
}

.content .btn:hover {
   cursor: pointer;
}


// css phần footer

.footer {
   color: #ffffff;
   margin-top: 5%;
   background-color: #292f3a;
   padding: 5%;

   justify-content: center;
   align-items: center;
}

.footer-items {
   display: flex;
   justify-content: space-around;
   list-style: none;
   flex-wrap: wrap;
}

.items {
   margin: 15px;
}

.footer-logo span {
   position: relative;
   bottom: 20px;
   left: 5px;
}

.items span {
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 32px;
   letter-spacing: -1px;
   margin-bottom: 10px;
}
.items-li {
   margin-top: 20px;
}

.items-li li {
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   margin: 15px 0 0 0;
   letter-spacing: -0.3px;
   text-transform: uppercase;
   color: #e7e5ea;
}

.btn p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #e7e5ea;
   margin-top: 17px;
}
.btn .p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: -0.3px;
   color: #e7e5ea;
}

.submit input {
   width: 235px;
   height: 48px;
   background: #e7e5ea;
   border-radius: 5px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   padding-left: 25px;

   color: #000;
   // e7e5ea

   margin: 25px 0 15px 0;
}

.submit button {
   width: 129px;
   left: 1416px;
   height: 48px;
   top: 8280px;
   background: #886cff;
   border-radius: 5px;
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   text-align: center;
   letter-spacing: -0.3px;
   text-transform: uppercase;
   color: #fff;
   flex: none;
   order: 0;
   flex-grow: 0;
   cursor: pointer;
}

.footer-end {
   display: flex;
   border-top: solid 1px;
   margin-top: 35px;
   justify-content: space-between;
}

.footer-end p {
   margin-top: 35px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #e7e5ea;
   // e7e5ea
}

.footer-icon {
   margin-top: 30px;
}
.footer-icon .fa-brands {
   font-size: 40px;
   margin: 0 7px 7px 7px;
}

@media only screen and (max-width: 1210px) {
   .box-right {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }

   .nav-right {
      margin: 12px;
   }
}
