.content {
   text-align: center;
   & h2 {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -2px;
      color: #2d3958;
      padding: 50px 0 50px 0;
   }
   & p {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -1px;
      color: #7b88a8;
   }
   & .btns {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      margin: 55px 0 65px 0;
      text-align: center;
      letter-spacing: -0.3px;
      text-transform: uppercase;
      background-color: #886cff;
      width: 153px;
      height: 56px;
      color: #ffffff;
      border-radius: 5px;
   }
}

.content .btns:hover {
   cursor: pointer;
}

.text {
   max-width: 100%;
   height: auto;
   background: url(../../assets/img/bgr.png) top center / cover;
}
